@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

main{
    width: 200vh;
    
}

/* HEADER */
header{
    display: flex;
    background-color: white;
    align-items: end;
    justify-content: space-around;
    height: 8vh;
    
}

header a{
    text-decoration: none;
    color: black;
    font-weight: 800;
}
.logo{
    width: 8%;
    padding-left: 1vh;
}

header img{
    height: 100%;
    width: 100%; 
    margin-bottom: 15px;
}

.menu{
    width: 35%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}
/* FIN HEADER */


/* HERO */
.hero{
    background-size: cover;
    background-image: url(perrohero1.png);
    height: 92vh;
    
}

.divhero{
    display: flex;
    flex-direction: column;
    width: 30%;
    color: white;
    height: 42%;
    gap: 30px;
    position: absolute;
    left: 30vh;
    top: 25vh;
    

}

.divhero h1{
    font-size: 80px;
}

.divhero p{
    font-size: 25px;
    
}

.divhero button{
    width: 35%;
    height: 25%;
    color: #f53a50;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
    
}

/* FIN HERO */


/* PRODUCTOS */

.products{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 200vh;
    height: 100vh;
    gap: 90px;
    align-items: center;

}

.products h1{
    display: flex;
    justify-content: center;
    color: #f53a50;
    font-size: 50px;
    font-weight: 800;

}

.products h2{
    font-size: 20px;
    color: #f53a50;
}


.sell{
    display: flex;
    width: 100%;
    justify-content: space-evenly; 
    height: 60%;
    
}
.venta{
    display: flex;
    flex-direction: column;
    width: 15%;
    gap: 40px;
}

.venta img{
    width: 100%;
    height: 40%;
    border-color: #f53a50;
    border-radius: 10px;
}

.venta button{
    width: 60%;
    height: 8%;
    background-color: #f53a50;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 800;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
/* FIN PRODUCTOS */


/* MANUAL */

.manual{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background: linear-gradient(to right, rgb(178,21,100), rgb(241,54,81));
    
}

.books{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    height: 60%;
}

.books h1{
    font-weight: 800;
    font-size: 55px;
    color: white;
}

.pbooks{
    display: flex;
    justify-content: center;
    width: 100%;
}

.pbooks p{
    display: flex;
    justify-content: center;
    color: white;
    width: 75%;
    text-align: center;
    word-spacing: 5px;
}

.botonbooks{
    height: 15%;
    display: flex;
    justify-content: center;
}

.botonbooks button{
    color: #f53a50;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    width: 40%;
    height: 100%;
    cursor: pointer;
}
/* FIN MANUAL */


/* SAMOYED */

.samoyed{
    background-image: url(Samoyed4.png);
    background-size: cover;
    height: 70vh;
}

.wem{
    display: flex;
    align-items: center;
    height: 100%;
    width: 25%;
    
}

.wem h1{
    position: relative;
    width: 100%;
    color: white;
    font-weight: 800;
    font-size: 70px;
    left: 125vh;
}

/* FIN SAMOYED */


/* ABOUT */

.About{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;
}

.About1{
    display: flex;
    flex-direction: column;
    width: 19%;
    gap: 30px;
}

.About1 h1{
    color: #f53a50;
    font-weight: 800;
    font-size: 50px;
}

.cajas{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 19%;
    height: 65%;
}

.cajas img{
    position: absolute;
    z-index: 2;
    left: 60%;
    border-radius: 7px;
    width: 60px;
    height: 60px;
    
}

.bp{
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 2%;
}

.caja1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 10px #FC697B;
    border-radius: 10px;
    height: 25%;
    background-color: white;
}



.caja2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 10px #FC697B;
    border-radius: 10px;
    height: 25%;
    background-color: white;
}



.caja3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 10px #FC697B;
    border-radius: 10px;
    height: 25%;
    background-color: white;
    
}

.fondo{
    display: flex;
    position: absolute;
    z-index: -1;
    left: 75%;
    width: 20%;
    height: 80vh;
    background: linear-gradient(to bottom right,rgb(241,54,81),rgb(178,21,100));
    border-radius: 0% 0% 40% 0%;;

}
/* FIN ABOUT */


/* REVIEWS */
.Reviews{
    background-color: rgb(255,244,246);
    position: relative;
    z-index: -2; 
    height: 70vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 50px;
    
}
.Reviews h1{
    display: flex;
    justify-content: center;
    color: #f53a50;
    font-size: 50px;
    font-weight: 800;
}

.textrev{
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    /* margin-bottom: 15vh; */
    
}

.textos{
    width: 17%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Reviews p{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 25px;
    
}

.Reviews h2{
    display: flex;
    justify-content: center;
    color: #f53a50;
    font-size: 30px;
}

.garra{
    position: absolute;
    width: 90px;
    height: 90px;
    left: 20vh;
    bottom: 5vh;
}

/* FIN REVIEWS */


/* PRODUCTOS */

.productos{
    height: 70vh;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.unique{
    max-width: 430px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.unique h1{
    color: #f53a50;
    font-size: 50px;
}
.pareja{
    width: 35%;
}
.rosa{
    color: #f53a50;
}

/* FIN PRODUCTOS */


/* B */

.claim{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background: linear-gradient(to right, rgb(178,21,100), rgb(241,54,81));
    
}

.venta2{
    height: 50%;
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.venta2 h1{
    color: white;
    font-size: 50px;
    font-weight: 800;
    display: flex;
    justify-content: center;
}

.venta2 p{
    justify-content: center;
    text-align: center;
    color: white;
}

.venta2 button{
    width: 40%;
    height: 100%;
    border-radius: 10px;
    border: none;
    color: #f53a50;
    font-size: 15px;
    font-weight: 800;
    cursor: pointer;
}

.boton{
    height: 20%;
    display: flex;
    justify-content: center;
}

/* FIN B */

/* INICIO CONTACT */

.contacto{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.formulario{
    width: 35%;
    display: flex;
    flex-direction: column;
    height: 75%;
    gap: 40px;
}

.formulario h1{
    display: flex;
    justify-content: center;
    color: #f53a50;
    font-weight: 800;
    font-size: 50px;
}

.uno{
    display: flex;
    height: 11%;
    width: 100%;
    gap: 30px;
}

.dos{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-right: 10%;
}
.tres{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.name{
    height: 100%;
    box-shadow: 0px 0px 10px #fc697a6a;
    border: none;
    border-radius: 10px;
   
}
.sujeto{
    height: 6.5%;
}

.Subject{
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 10px #fc697a6a;
    border: none;
    border-radius: 10px;
}

.mensaje{
    height: 40%;
    margin-top: 20px;
    margin-bottom: 40px;
}
.message{
    display: flex;
    align-items: start;
    height: 100%;
    box-shadow: 0px 0px 10px #fc697a6a;
    border: none;
    border-radius: 10px;
    width: 100%;
    
}

.formboton{
    height: 8%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.formboton button{
    height: 100%;
    width: 30%;
    color: white;
    background-color: #f53a50;
    font-weight: 800;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
/* FIN CONTACT */

/* FOOTER */
footer{
    height: 20vh;
    background: linear-gradient(to right, rgb(178,21,100), rgb(241,54,81));
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
}

.iconos{
    width: 8%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}
.perrofondo{
    position: absolute;
    left: 15vh;
    width: 20%;
}

.fondopag{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #f53a50;
}
.ig{
    color: white;
}
/* FIN FOOTER */


/* ANIMACIONES */

.animacion1{
    transition-duration: 0.8s;
}
.animacion1:hover{
    background-color: #f53a50;
    color: white;
    border: 3px solid white ;
}

.animacion2{
    transition-duration: 0.8s;
}

.animacion2:hover{
    background-color: white;
    color: #f53a50;
    border: 3px solid #f53a50 ;
}

.animacion3:hover{
    color: gray;
}

.ig:hover{
    font-size: 30px;
}